{% if pageCount > 1 %}
    <ul class="pagination mb-0">
        {# Primera página #}
        {% if startPage > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): 1})) }}" title="Primera página">
                    <i class="fas fa-angle-double-left"></i>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-angle-double-left"></i></span>
            </li>
        {% endif %}

        {# Página anterior #}
        {% if previous is defined %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" title="Anterior">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-chevron-left"></i></span>
            </li>
        {% endif %}

        {# Páginas #}
        {% if startPage > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
            </li>
            {% if startPage == 3 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                </li>
            {% elseif startPage != 2 %}
                <li class="page-item disabled">
                    <span class="page-link"><i class="fas fa-ellipsis-h"></i></span>
                </li>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ page }}</span>
                </li>
            {% endif %}
        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <li class="page-item disabled">
                        <span class="page-link"><i class="fas fa-ellipsis-h"></i></span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount - 1 }}</a>
                    </li>
                {% endif %}
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
            </li>
        {% endif %}

        {# Siguiente página #}
        {% if next is defined %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}" title="Siguiente">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-chevron-right"></i></span>
            </li>
        {% endif %}

        {# Última página #}
        {% if pageCount > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}" title="Última página">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link"><i class="fas fa-angle-double-right"></i></span>
            </li>
        {% endif %}
    </ul>
{% endif %}
